<!DOCTYPE html> 
   <html lang="de">  
     <head>    
       <title>Blogi</title>    
       <meta name="author" content="Jan Koester">    
       <meta name="robots" content="all" >
       <meta charset="utf-8">   
       <meta name="viewport" content="width=device-width,initial-scale=0.3" >
       <link rel="stylesheet" href="${prefix}/theme/public/reset.css">
       <link rel="stylesheet" href="${prefix}/theme/public/style.css">
    </head>
    <body>
       <div id="header">
	 <!-- header image -->
         <img alt="headerimage" id="banner" src="${prefix}/theme/public/header.webp" >
	 <!-- Navbar--> 
       </div>
       <div id="main">
         <!-- content -->
       </div>
       <div id="ghost"> 
       </div>
       <div id="footer">
         <span id="copyrigt" > (c) Jan Koester 2021 </span>
         <br>
         <span id="footernav">
         </span>
       </div>
    </body>
  </html>
